<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<div id="app">

<h2>Not Done</h2>    
        <ul>
        <div v-for="task in open">
            <li> {{ task.title }} | <button v-on:click="done(task)">Done</button></li>
            </div>
        </ul>
        <br/>
<h2>Done</h2>
        <ul>
            <div v-for="task in notopen">
                <li> {{ task.title }} </li>
                </div>
            </ul>
            <br/>
        
    </div>

    </div>

<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> 

<script>
    const vm = new Vue({
        el: '#app',
        data: {
            tasks: [
            {title: 'task1', status: 'done', state: true},
            {title: 'Sample 111', status: 'in progress', state: false},
            {title: 'task3', status: 'done', state: false},
            ]
        },

        computed: {
            open(){
                return this.tasks.filter(t => t.state != false)
            },
            notopen(){
                return this.tasks.filter(t => t.state == false)
            }
        },

        methods: {
            done(task){
                console.log('print it...'+task);
                const i = this.tasks.indexOf(task);
                this.tasks[i].state = false
            }
        }

    })
</script>


    
</body>
</html>